In [107]:
import pandas as pd


csvPath =  "./Resources/purchase_data.csv"
itemPD_df = pd.read_csv(csvPath)

#Player count
playerCount = itemPD_df["SN"].nunique()

#Purchasing  Analysis (total)
#create series to store Purchasing Analysis data
pAnalysis = pd.Series({
    "Number of Unique Items":0,
    "Average Purchase Price":0,
    "Total Number of Purchases":0,
    "Total Revenue":0
})

#finds the number of unique items in the data set and stores it to series
pAnalysis["Number of Unique Items"] = itemPD_df["Item Name"].nunique()
print(pAnalysis)

#top 5 spenders
topPurchaseGroup = itemPD_df.groupby("SN")[["Price"]].sum()
top5spenders = topPurchaseGroup.sort_values(["Price"], ascending=False)
top5spenders.head()

Number of Unique Items       179
Average Purchase Price         0
Total Number of Purchases      0
Total Revenue                  0
dtype: int64

             Price
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10