In [35]:
import pandas as pd

csvPath =  "./Resources/purchase_data.csv"
itemPD_df = pd.read_csv(csvPath)



#top 5 spenders
topPurchaseGroup = itemPD_df.groupby("SN")[["Price"]].sum()
top5spenders = topPurchaseGroup.sort_values(["Price"], ascending=False)
top5spenders.head()

             Price
SN
Lisosia93    18.96
Idastidru52  15.45
Chamjask73   13.83
Iral74       13.62
Iskadarya95  13.10